body
{
    width:100%;
  
    margin:0px;
    color: rgba(255, 255, 255,.6);
    padding:0px;
}
.topbar
{
    width:100%;
    display:flex;
    justify-content:center;
    box-shadow:4px 2px 2px rgb(136, 131, 131);
    padding:15px;

}
p{
    font-size:16px;
    text-transform:capitalize;
}
.logodiv
{
    width:100px;
    height:100px;
    border-radius:50%;
   padding:15px;
   background-color:white;
}
.teamlogo
{
    width:100%;
    height:100%;
}
.teamtitle
{
    font-size:34px;
    font-weight:700;
    font-family: 'Pacifico', cursive;
     color: rgba(255, 255, 255,.6);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px;
    text-transform:uppercase;
}
.grid
{
    display:flex;
    width:350px;
    height:100px;
    cursor:pointer;
   background-color:rgba(0, 0, 0, 0.3);
    opacity:100;

    margin-top:3%;
    margin-left:10%;
}
.img
{
    width:60px;
    height:60px;
    border-radius:50%;
    padding:10px;
    background-color: white;
}
.gridlogo
{
    width:100%;
    height:100%;
}
.setstyle
{
    margin-left:15px;
    display:flex;
    flex-direction:column;

}
.setstyle p
{
    margin:0px;
    padding:0px;
}
.person
{
    font-size:18px;
    padding:0px;
    margin-bottom:0px;
    text-transform:uppercase;
}
.grids
{
    display:flex;
    flex-direction:column;
}
.box
{
    width:500px;
    height:60vh;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.pagepart
{
    display:flex;
    margin-top:10%;
    justify-content:space-around;
}
.playertext
{
    margin-top:0px;
    font-size:33px;
}
.item
{
 box-shadow:2px 2px 2px #eee;
margin-bottom:40px;
}
.value
{
    color:yellow;
    margin-left:13px;
}
.cskclass
{
    background: linear-gradient(to bottom,rgb(199, 199, 93) 0%,gray 100%);   
    
}
.delhiclass
{
    background: linear-gradient(to bottom,rgb(88, 88, 235) 0%,gray 100%);   
    
}
.kolkataclass
{
    background: linear-gradient(to bottom,rgb(170, 79, 170) 0%,gray 100%);   
}
.punjabclass
{
    background: linear-gradient(to bottom,rgb(212, 95, 95) 0%,gray 100%); 
}
.mumbaiclass
{
    background: linear-gradient(to bottom,rgb(60, 123, 148) 0%,gray 100%); 
}
.sunrisersclass
{
    background: linear-gradient(to bottom,rgb(141, 123, 19) 0%,gray 100%);  
}
.rajasthanclass
{
    background: linear-gradient(to bottom,rgb(52, 52, 151) 0%,gray 100%);   
}
.royalclass
{
    background: linear-gradient(to bottom,rgb(224, 108, 40) 0%,gray 100%);   
}


